.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 @app-bar-height;

  &-user-menu {
    position: relative;
    margin-top: 4px;
    flex-basis: 4vw;

    &-icon {
      margin-top: 4px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-list {
      position: absolute;
      top: @app-bar-height;
      right: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &-user-menu:hover * {
    color: @brand-green;
  }
}
